* {
    font-family: "Open Sans", sans-serif; /*Poppins*/
  }

:root {
    --main: #7b88db;
    --secondary: #5c69c0;
    --bodyC: #fff;
    --bg:#2e2e2e; /*#0d0d0d*/
    --bgFooter: #292929;

    --bgTable:#444444;
    --bgTable2:#464545;
    --bgTableHeader: #7b88db;
    /*
    --bgTable:#141414;
    --bgTable2:#151515;
    --bgTableHeader: #1d1d1d;
    */
  }
  
html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg);;
    color: #fff
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 75, 136)
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main);
}

.limiter {
    width: 100%;
    margin: 60px auto
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: var(--bg);;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.wrap-table100 {
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: var(--bgTable);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative
}

table td,
table th {
    padding-left: 8px
}

table thead tr {
    height: 60px;
    background: var(--bgTableHeader)
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,
table th {
    text-align: left
}

table td.l,
table th.l {
    text-align: right
}

table td.c,
table th.c {
    text-align: center
}

table td.r,
table th.r {
    text-align: center
}

.table100-head th {
    font-size: 16px;
    color: #fff;
    line-height: 1.2
}

tbody tr:nth-child(even) {
    background-color: var(--bgTable2)
}

tbody tr {
    font-size: 15px;
    color: #ddd;
    line-height: 1.2
}

tbody tr:hover {
    color: #fff;
    background-color: var(--bgTable2)
}

.column1 {
    width: 260px;
    padding-left: 40px
}

.column2 {
    width: 160px
}

.column3 {
    width: 245px
}

.column4 {
    width: 110px;
    text-align: right
}

.column5 {
    width: 222px;
    text-align: right;
    padding-right: 62px
}

@media screen and (max-width:992px) {
    table {
        display: block
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: 14px;
        color: var(--main);;
        line-height: 1.2;
        font-weight: 700;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table tbody tr td:nth-child(1):before {
        content: "Vouch ID"
    }

    table tbody tr td:nth-child(2):before {
        content: "Discord Tag"
    }

    table tbody tr td:nth-child(3):before {
        content: "Discord ID"
    }

    table tbody tr td:nth-child(4):before {
        content: "Vouch"
    }

    table tbody tr td:nth-child(5):before {
        content: "Date"
    }

    .column4,
    .column5,
    .column6 {
        text-align: left
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media(max-width:576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px
    }
}

footer {
    background: var(--bgFooter);
    padding: 10px
}

footer {
    padding: 20px 0
}

footer a {
    padding: 5px
}

footer a i {
    color: #fff;
    font-size: 19px;
    background: #01061e;
    height: 40px;
    width: 40px;
    padding: 11px 8px;
    border-radius: 100px;
    transition: .3s
}

footer .fa-sellcast {
    padding: 11px
}

footer .fa-facebook {
    padding: 11px
}

footer .fa-telegram {
    padding: 11px
}

footer a i:hover {
    transform: rotate(360deg)
}

#social-icon-div a i {
    color: #fff
}

#social-icon-div a {
    padding: 5px
}

#social-icon-div a i:hover {
    color: grey
}

.fa.fa-brands:hover {
    transform: rotate(360deg)
}

.fa.fa-brands {
    transition: transform .5s ease 0s
}

.logo-src:hover {
    transition: .5s;
    transform: scale(1.2)
}

.logo-src {
    transition: .5s
}

.social {
    width: 40px;
    transition: transform 330ms ease-in-out
}

.social:hover {
    transform: scale(1.2)
}

#information {
    color: #ddd;
    text-align: left
}

#vouch {
    color: var(--main) !important;
    text-shadow: 0 0 0 var(--main) !important
}

#count {
    font-weight: 700
}

#counterSpan {
    color: var(--main);
}

#sort {
    color: var(--main);
}

#copyright {
    font-weight: 700
}

h1 {
    font-weight: 700
}

a {
    color: var(--main);
    font-weight: 700;
    text-decoration: none
}

a:hover {
    transition: .4s;
    color: var(--secondary);
    text-shadow: 0 0 1px var(--main);
    text-decoration: underline
}

.container{
text-align: center
}

#sort{
    color: var(--bodyC);
}

.threadDesign {
    width:70%;
    transition: transform 330ms ease-in-out
}

.threadDesign:hover {
    transform: scale(1.01)
}

.responsive {
    width: 100%;
    height: auto;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 0rem;    /* Footer height */
  }
  
